USE [myTanent]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 12/12/2016 18:52:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblState](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NULL,
	[CountryId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblState] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblState] ON
INSERT [dbo].[tblState] ([id], [StateName], [CountryId], [IsActive]) VALUES (1, N'ANDHRA PRADESH', 1, 0)
INSERT [dbo].[tblState] ([id], [StateName], [CountryId], [IsActive]) VALUES (2, N'ASSAM', 1, 0)
INSERT [dbo].[tblState] ([id], [StateName], [CountryId], [IsActive]) VALUES (3, N'ARUNACHAL PRADESH', 1, 0)
SET IDENTITY_INSERT [dbo].[tblState] OFF
