USE [mytanent]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 12/31/2016 10:37:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL,
	[StateId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCity] ON 

INSERT [dbo].[tblCity] ([id], [CityName], [StateId], [IsActive]) VALUES (1, N'Kolhapur', 12, 0)
INSERT [dbo].[tblCity] ([id], [CityName], [StateId], [IsActive]) VALUES (2, N'Port Blair', 32, 0)
INSERT [dbo].[tblCity] ([id], [CityName], [StateId], [IsActive]) VALUES (3, N'Adilabad', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[tblCity] OFF
